In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from vincenty import vincenty

from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.datasets import fetch_mldata
from sklearn.utils import shuffle

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 10000)

In [91]:
#Import natural disaster data
raw = pd.read_csv('natural_disaster_human_mobility.csv')

In [109]:
#Switch latitude and longtitude columns, rename and reorder, dataframe
df = raw
df = df.rename(columns = {'disaster.event': 'event', 'user.anon': 'user', 'latitude': 'long', 'longitude.anon': 'lat'})
df = df[['event', 'user', 'lat', 'long', 'time']]
df['time'] = pd.DatetimeIndex(df['time'])

In [110]:
#Clean event names
event_name={
'01_Wipha':'Wipha',
'02_Halong': 'Halong',
'06_Kalmaegi': 'Kalmaegi',
'08_Rammasun_Manila': 'Manila',
'12_Bohol': 'Bohol',
'12_Iquique': 'Iquidue',
'13_Napa': 'Napa',
'21_Norfolk': 'Norfolk',
'22_Hamburg': 'Hamburg',
'23_Atlanta': 'Atlanta',
'31_Phoenix': 'Phoenix',
'32_Detroit': 'Detroit',
'33_Baltimore': 'Baltimore',
'41_AuFire1': 'Australia1',
'42_AuFire2': 'Australia2'}

df['event_name'] = df['event'].map(event_name)

In [111]:
#Add event type
event_type={
'Wipha': 'Typhoon',
'Halong': 'Typhoon',
'Kalmaegi': 'Typhoon',
'Manila': 'Typhoon',
'Bohol': 'Earthquake',
'Iquidue': 'Earthquake',
'Napa': 'Earthquake',
'Norfolk': 'Winter_Storm',
'Hamburg': 'Winter_Storm',
'Atlanta': 'Winter_Storm',
'Phoenix': 'Thunderstorm',
'Detroit': 'Thunderstorm',
'Baltimore': 'Thunderstorm',
'Australia1': 'Wildfire',
'Australia2': 'Wildfire'}    

df['event_type'] = df['event_name'].map(event_type)
df = df.drop(columns = ['event'])

In [112]:
df.head(2)

   user        lat        long                time event_name event_type
0     0  24.515364  139.742561 2013-10-20 10:46:03      Wipha    Typhoon
1     0  24.569996  139.702880 2013-10-20 18:04:00      Wipha    Typhoon

In [8]:
all_data = df.groupby(['event', 'user'])
all_data = all_data.apply(lambda _all_data: _all_data.sort_values(by=['time']))

In [113]:
#Generate distance column
#all_data['lat_1'] = all_data['lat'].shift()
#all_data['long_1'] = all_data['long'].shift()
#all_data['dist_mi'] = all_data.apply(lambda row: vincenty((row['lat'], row['long']), (row['lat_1'], row['long_1'])), axis=1)

In [ ]:
df = df.groupby('id', group_keys=False).apply(lambda x:x.iloc[1:])

In [ ]:
all_data['date'] = all_data['time'].dt.date
all_data['time_diff'] = all_data['time'].diff()
all_data['time_diff_hour'] = all_data['time_diff']/np.timedelta64(1, 'h')
all_data['time_diff_day'] = all_data['time_diff']/np.timedelta64(1, 'D')
all_data['velocity_mph'] = all_data['dist_mi']/all_data['time_diff_hour']
all_data['dist_cent'] = napa.apply(lambda row: vincenty((row['lat'], row['long']), \
                                                    (all_data['lat'].mean(), all_data['long'].mean())), axis=1)

In [ ]:
#Calculate event location by averaging the first lat long entry for each user
all_data.groupby('event').max()

In [ ]:
#Export average coordinates to csv for tableau
group.to_csv('ave_coord.csv')

In [ ]:
napa2 = df[(df['event'] == '14_Napa')]
napa2.shape
napa2.to_csv('napa2.csv')
napa2.head()

In [ ]:
napa = df[(df['event'] == '14_Napa')]

In [ ]:
#Generate distance column
napa['lat_1'] = napa['lat'].shift()
napa['long_1'] = napa['long'].shift()
napa['dist_mi'] = napa.apply(lambda row: vincenty((row['lat'], row['long']), (row['lat_1'], row['long_1'])), axis=1)
napa['dist_ft'] = napa['dist_mi']*5260

In [ ]:
napa['time_diff'] = napa['time'].diff()
napa['time_diff_hour'] = napa['time_diff']/np.timedelta64(1, 'h')
napa['time_diff_day'] = napa['time_diff']/np.timedelta64(1, 'D')

In [ ]:
napa['velocity_mph'] = napa['dist_mi']/napa['time_diff_hour']

In [ ]:
napa['dist_cent'] = napa.apply(lambda row: vincenty((row['lat'], row['long']), \
                                                    (napa['lat'].mean(), napa['long'].mean())), axis=1)

In [ ]:
napa.to_csv('napa.csv')

In [ ]:
napa['date'] = napa['time'].dt.date
napa['date'] = pd.to_datetime(napa['date'])

In [ ]:
#napa['disaster_day'] = napa.where(napa['date'] == '2014-08-24')
napa['disaster_day'] = napa['date'].map(lambda x: 1 if x== '2014-08-24' else 0)

In [ ]:
napa['disaster_day'] = (napa['date'] == '2014-08-24')
#sol['Completed'] = (sol['Installed Status'] == 'Installed').astype(int)

In [ ]:
napa.head(300)

In [ ]:
napa.info()

In [ ]:
napa_group_user = napa.groupby(['user', 'date', 'disaster_day']).mean()
napa_group_user

In [ ]:

#pd.to_datetime(napa['time'],format = '%m/%d/%Y')

In [ ]:
napa_group = napa.groupby(by = 'date').mean().reset_index()
napa_group

In [ ]:
napa_group.info()

In [ ]:
napa_group3 = napa_group.reset_index()
napa_group3

In [ ]:
napa_group2 = napa.groupby(by = 'date').size()
napa_group2

In [ ]:
sns.scatterplot(x=napa_group2, y=napa_group['velocity_mph'])

In [ ]:
sns.scatterplot(x=napa_group3['lat'], y=napa_group3['long'], hue=napa_group3['date'])

In [ ]:
sns.scatterplot(x=napa_group3['lat'], y=napa_group3['long'])

In [ ]:
X = np.append(napa_group3['lat'],napa_group3['long']).transpose()

In [ ]:
X = napa_group3[['lat', 'long']]

In [ ]:
X = X.as_matrix()

In [ ]:
X.shape

In [ ]:
#helper function that allows us to display data in 2 dimensions an highlights the clusters
def display_cluster(X,km=[],num_clusters=0):
    color = 'brgcmyk'
    alpha = 0.5
    s = 20
    if num_clusters == 0:
        plt.scatter(X[:,0],X[:,1],c = color[0],alpha = alpha,s = s)
    else:
        for i in range(num_clusters):
            plt.scatter(X[km.labels_==i,0],X[km.labels_==i,1],c = color[i],alpha = alpha,s=s)
            plt.scatter(km.cluster_centers_[i][0],km.cluster_centers_[i][1],c = color[i], marker = 'x', s = 100)

In [ ]:
num_clusters = 2
km = KMeans(n_clusters=num_clusters,random_state=10,n_init=1) # n_init, number of times the K-mean algorithm will run
km.fit(X)
display_cluster(X,km,num_clusters)

In [ ]:
km.cluster_centers_

In [ ]:
km.inertia_

In [ ]:
plt.plot([KMeans(n_clusters=i).fit(X).inertia_ for i in range(1,10)])