In [287]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from vincenty import vincenty

from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from sklearn.datasets import fetch_mldata
from sklearn.utils import shuffle

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 10000)

In [288]:
#Import natural disaster data
raw = pd.read_csv('natural_disaster_human_mobility.csv')

In [289]:
#Switch latitude and longtitude columns, rename and reorder, dataframe
df = raw
df = df.rename(columns = {'disaster.event': 'event', 'user.anon': 'user', 'latitude': 'long', 'longitude.anon': 'lat'})
df = df[['event', 'user', 'lat', 'long', 'time']]
df['time'] = pd.DatetimeIndex(df['time'])

In [290]:
#Clean event names
event_name={
'01_Wipha':'Wipha',
'02_Halong': 'Halong',
'06_Kalmaegi': 'Kalmaegi',
'08_Rammasun_Manila': 'Manila',
'12_Bohol': 'Bohol',
'12_Iquique': 'Iquidue',
'13_Napa': 'Napa',
'21_Norfolk': 'Norfolk',
'22_Hamburg': 'Hamburg',
'23_Atlanta': 'Atlanta',
'31_Phoenix': 'Phoenix',
'32_Detroit': 'Detroit',
'33_Baltimore': 'Baltimore',
'41_AuFire1': 'Australia1',
'42_AuFire2': 'Australia2'}

df['event_name'] = df['event'].map(event_name)

In [291]:
#Add event type
event_type={
'Wipha': 'Typhoon',
'Halong': 'Typhoon',
'Kalmaegi': 'Typhoon',
'Manila': 'Typhoon',
'Bohol': 'Earthquake',
'Iquidue': 'Earthquake',
'Napa': 'Earthquake',
'Norfolk': 'Winter_Storm',
'Hamburg': 'Winter_Storm',
'Atlanta': 'Winter_Storm',
'Phoenix': 'Thunderstorm',
'Detroit': 'Thunderstorm',
'Baltimore': 'Thunderstorm',
'Australia1': 'Wildfire',
'Australia2': 'Wildfire'}    

df['event_type'] = df['event_name'].map(event_type)
df = df.drop(columns = ['event'])

In [292]:
#Add date column, drop time column
df['date'] = df['time'].dt.date
df['date'] = pd.to_datetime(df['date'])
df = df.drop(columns = ['time'])
df.head(2)

   user        lat        long event_name event_type       date
0     0  24.515364  139.742561      Wipha    Typhoon 2013-10-20
1     0  24.569996  139.702880      Wipha    Typhoon 2013-10-20

In [ ]:
#Add natural disaster tag
'Wipha' and '2013-10-11', '2013-10-12', '2013-10-13', '2013-10-14', '2013-10-15', '2013-10-16'
#'Halong'
#'Kalmaegi'
#'Manila' and '2014-7-11', '2014-7-12', '2014-7-13', '2014-7-14', '2014-7-15', '2014-7-16', '2014-7-17', '2014-7-18'
'Bohol' and '2013-10-15'
'Iquidue'and '2014-04-01'
'Napa' and '2014-08-24
'Norfolk'
'Hamburg'
'Atlanta'
'Phoenix': 
'Detroit': 
'Baltimore': 
'Australia1': 2013-10-17, 2013-10-28
'Australia2':

In [298]:
def disaster_day(event_name, date):
    if event_name == 'Wipha' and str(date) == '2013-10-14 00:00:00':
        return True
    elif event_name == 'Wipha' and str(date) == '2013-10-04 00:00:00':
        return True
    elif event_name == 'Bohol' and str(date) == '2013-10-15 00:00:00':
        return True
    else:
        return False

In [294]:
sam.iloc[4,3], str(sam.iloc[4,5])

('Wipha', '2013-10-04 00:00:00')

In [295]:
disaster_day(sam.iloc[4,3], str(sam.iloc[4,5]))

True

In [177]:
sam = df.iloc[0:50,]
#sam

In [299]:
df['disaster_day'] = df.apply(lambda row: disaster_day((row['event_name']), (row['date'])), axis = 1)

In [300]:
df.head(100)

    user        lat        long event_name event_type       date  disaster_day
0      0  24.515364  139.742561      Wipha    Typhoon 2013-10-20         False
1      0  24.569996  139.702880      Wipha    Typhoon 2013-10-20         False
2      0  24.550507  139.701482      Wipha    Typhoon 2013-10-20         False
3      0  24.508685  139.728029      Wipha    Typhoon 2013-10-20         False
4      0  24.576521  139.702315      Wipha    Typhoon 2013-10-04          True
5      0  24.585992  139.670229      Wipha    Typhoon 2013-10-04          True
6      0  24.586646  139.773957      Wipha    Typhoon 2013-10-06         False
7      0  24.587096  139.773687      Wipha    Typhoon 2013-10-06         False
8      0  24.588075  139.766096      Wipha    Typhoon 2013-10-06         False
9      0  24.588359  139.764880      Wipha    Typhoon 2013-10-06         False
10     0  24.504277  139.776113      Wipha    Typhoon 2013-10-28         False
11     0  24.517249  139.738485      Wipha    Typhoon 2013-10-14          True
12     0  24.549073  139.697556      Wipha    Typhoon 2013-10-14          True
13     0  24.527292  139.741137      Wipha    Typhoon 2013-10-03         False
14     0  24.518733  139.642395      Wipha    Typhoon 2013-10-10         False
15     0  24.403357  139.494139      Wipha    Typhoon 2013-10-12         False
16     0  24.402096  139.492436      Wipha    Typhoon 2013-10-01         False
17     0  24.402096  139.492436      Wipha    Typhoon 2013-10-01         False
18     0  24.402096  139.492436      Wipha    Typhoon 2013-10-01         False
19     0  24.640273  139.589367      Wipha    Typhoon 2013-10-11         False
20     0  24.627521  139.667638      Wipha    Typhoon 2013-10-16         False
21     0  24.616489  139.710463      Wipha    Typhoon 2013-10-16         False
22     0  24.615531  139.710100      Wipha    Typhoon 2013-10-16         False
23     0  24.588609  139.700514      Wipha    Typhoon 2013-10-17         False
24     0  24.608618  139.706108      Wipha    Typhoon 2013-10-17         False
25     0  24.608622  139.706063      Wipha    Typhoon 2013-10-17         False
26     0  24.626480  139.654125      Wipha    Typhoon 2013-10-17         False
27     0  24.640097  139.589226      Wipha    Typhoon 2013-10-17         False
28     0  24.640397  139.589425      Wipha    Typhoon 2013-10-17         False
29     0  24.640271  139.589355      Wipha    Typhoon 2013-10-17         False
30     0  24.640172  139.589341      Wipha    Typhoon 2013-10-17         False
31     0  24.640314  139.589293      Wipha    Typhoon 2013-10-17         False
32     0  24.640294  139.589348      Wipha    Typhoon 2013-10-18         False
33     0  24.640265  139.589389      Wipha    Typhoon 2013-10-18         False
34     0  24.638492  139.587142      Wipha    Typhoon 2013-10-18         False
35     0  24.616368  139.710434      Wipha    Typhoon 2013-10-18         False
36     0  24.619327  139.795848      Wipha    Typhoon 2013-10-19         False
37     0  24.675147  139.783972      Wipha    Typhoon 2013-10-19         False
38     0  24.598739  139.774552      Wipha    Typhoon 2013-10-20         False
39     0  24.598707  139.774560      Wipha    Typhoon 2013-10-20         False
40     0  24.618719  139.710920      Wipha    Typhoon 2013-10-20         False
41     0  24.620416  139.728083      Wipha    Typhoon 2013-10-20         False
42     0  24.623012  139.716447      Wipha    Typhoon 2013-10-21         False
43     0  24.621094  139.724802      Wipha    Typhoon 2013-10-21         False
44     0  24.620038  139.734635      Wipha    Typhoon 2013-10-21         False
45     0  24.601093  139.776329      Wipha    Typhoon 2013-10-21         False
46     0  24.598707  139.774549      Wipha    Typhoon 2013-10-24         False
47     0  24.674776  139.783918      Wipha    Typhoon 2013-10-25         False
48     0  24.675000  139.783895      Wipha    Typhoon 2013-10-25         False
49     0  24.640130  139.589294      Wipha    Typhoon 2013-10-29         False
50     0  24.598713  139.774556      Wipha    Typhoon 2013-10-31         False
51     0  24.675107  139.784485      Wipha    Typhoon 2013-10-31         False
52     0  24.675107  139.784485      Wipha    Typhoon 2013-10-31         False
53     0  24.597174  139.774746      Wipha    Typhoon 2013-11-05         False
54     0  24.593329  139.767701      Wipha    Typhoon 2013-10-09         False
55     0  24.592497  139.767476      Wipha    Typhoon 2013-10-10         False
56     0  24.592962  139.767549      Wipha    Typhoon 2013-10-10         False
57     0  24.592962  139.767554      Wipha    Typhoon 2013-10-10         False
58     0  24.548470  139.698557      Wipha    Typhoon 2013-10-14          True
59     0  24.488264  139.569693      Wipha    Typhoon 2013-10-14          True
60     0  24.489632  139.582473      Wipha    Typhoon 2013-10-14          True
61     0  24.495361  139.575189      Wipha    Typhoon 2013-10-14          True
62     0  24.488195  139.569177      Wipha    Typhoon 2013-10-15         False
63     0  24.535119  139.620413      Wipha    Typhoon 2013-10-15         False
64     0  24.546687  139.659407      Wipha    Typhoon 2013-10-15         False
65     0  24.550020  139.667136      Wipha    Typhoon 2013-10-15         False
66     0  24.549889  139.666854      Wipha    Typhoon 2013-10-15         False
67     0  24.549897  139.666852      Wipha    Typhoon 2013-10-15         False
68     0  24.579527  139.698061      Wipha    Typhoon 2013-10-16         False
69     0  24.567977  139.694166      Wipha    Typhoon 2013-10-16         False
70     0  24.509274  139.570605      Wipha    Typhoon 2013-10-17         False
71     0  24.460841  139.645114      Wipha    Typhoon 2013-10-20         False
72     0  24.469441  139.641700      Wipha    Typhoon 2013-10-20         False
73     0  24.469474  139.641721      Wipha    Typhoon 2013-10-20         False
74     0  24.469402  139.642052      Wipha    Typhoon 2013-10-20         False
75     0  24.444659  139.675623      Wipha    Typhoon 2013-10-20         False
76     0  24.444167  139.677898      Wipha    Typhoon 2013-10-20         False
77     0  24.539251  139.706679      Wipha    Typhoon 2013-10-20         False
78     0  24.581658  139.702031      Wipha    Typhoon 2013-10-21         False
79     0  24.559535  139.702737      Wipha    Typhoon 2013-10-21         False
80     0  24.487679  139.611895      Wipha    Typhoon 2013-10-21         False
81     0  24.487978  139.569760      Wipha    Typhoon 2013-10-21         False
82     0  24.509609  139.569436      Wipha    Typhoon 2013-10-21         False
83     0  24.583663  139.701529      Wipha    Typhoon 2013-10-23         False
84     0  24.586120  139.679418      Wipha    Typhoon 2013-10-23         False
85     0  24.549136  139.698426      Wipha    Typhoon 2013-10-23         False
86     0  24.549136  139.698426      Wipha    Typhoon 2013-10-23         False
87     0  24.464994  139.659998      Wipha    Typhoon 2013-10-23         False
88     0  24.445967  139.676061      Wipha    Typhoon 2013-10-23         False
89     0  24.440893  139.679063      Wipha    Typhoon 2013-10-24         False
90     0  24.445978  139.675065      Wipha    Typhoon 2013-10-24         False
91     0  24.491512  139.569839      Wipha    Typhoon 2013-10-24         False
92     0  24.491538  139.569860      Wipha    Typhoon 2013-10-24         False
93     0  24.445765  139.672783      Wipha    Typhoon 2013-10-25         False
94     0  24.579879  139.700123      Wipha    Typhoon 2013-10-26         False
95     0  24.548162  139.699988      Wipha    Typhoon 2013-10-27         False
96     0  24.548162  139.699988      Wipha    Typhoon 2013-10-27         False
97     0  24.400665  139.545474      Wipha    Typhoon 2013-10-27         False
98     0  24.398448  139.556085      Wipha    Typhoon 2013-10-27         False
99     0  24.400360  139.590227      Wipha    Typhoon 2013-10-27         False

In [316]:
bohol2 = df[(df['event_name'] == 'Australia2')]
bohol2.describe()

               user           lat          long
count  64370.000000  64370.000000  64370.000000
mean    3991.742691    -31.948435    151.008412
std     2253.930563      0.099613      0.231007
min        1.000000    -32.115152    149.529539
25%     2011.000000    -32.014988    150.920726
50%     4112.000000    -31.974603    151.065357
75%     5923.000000    -31.888433    151.166553
max     7845.000000    -31.136003    151.199996

In [315]:
bohol1 = df[(df['event_name'] == 'Australia1')]
bohol1.describe()

               user           lat          long
count  43275.000000  43275.000000  43275.000000
mean    2572.768018    -22.569533    151.059366
std     1381.956309      0.203378      0.247151
min        1.000000    -22.879171    149.542530
25%     1492.000000    -22.661440    150.892560
50%     2679.000000    -22.627509    151.095968
75%     3774.000000    -22.571184    151.269263
max     4829.000000    -21.407894    151.499738

In [311]:
df.shape

(4686154, 7)

In [312]:
df.groupby(col = 'event_name').count()

TypeError: You have to supply one of 'by' and 'level'

In [8]:
all_data = df.groupby(['event', 'user'])
all_data = all_data.apply(lambda _all_data: _all_data.sort_values(by=['time']))

In [113]:
#Generate distance column
#all_data['lat_1'] = all_data['lat'].shift()
#all_data['long_1'] = all_data['long'].shift()
#all_data['dist_mi'] = all_data.apply(lambda row: vincenty((row['lat'], row['long']), (row['lat_1'], row['long_1'])), axis=1)

In [ ]:
df = df.groupby('id', group_keys=False).apply(lambda x:x.iloc[1:])

In [ ]:
all_data['date'] = all_data['time'].dt.date
all_data['time_diff'] = all_data['time'].diff()
all_data['time_diff_hour'] = all_data['time_diff']/np.timedelta64(1, 'h')
all_data['time_diff_day'] = all_data['time_diff']/np.timedelta64(1, 'D')
all_data['velocity_mph'] = all_data['dist_mi']/all_data['time_diff_hour']
all_data['dist_cent'] = napa.apply(lambda row: vincenty((row['lat'], row['long']), \
                                                    (all_data['lat'].mean(), all_data['long'].mean())), axis=1)

In [ ]:
#Calculate event location by averaging the first lat long entry for each user
all_data.groupby('event').max()

In [ ]:
#Export average coordinates to csv for tableau
group.to_csv('ave_coord.csv')

In [ ]:
napa2 = df[(df['event'] == '14_Napa')]
napa2.shape
napa2.to_csv('napa2.csv')
napa2.head()

In [ ]:
napa = df[(df['event'] == '14_Napa')]

In [ ]:
#Generate distance column
napa['lat_1'] = napa['lat'].shift()
napa['long_1'] = napa['long'].shift()
napa['dist_mi'] = napa.apply(lambda row: vincenty((row['lat'], row['long']), (row['lat_1'], row['long_1'])), axis=1)
napa['dist_ft'] = napa['dist_mi']*5260

In [ ]:
napa['time_diff'] = napa['time'].diff()
napa['time_diff_hour'] = napa['time_diff']/np.timedelta64(1, 'h')
napa['time_diff_day'] = napa['time_diff']/np.timedelta64(1, 'D')

In [ ]:
napa['velocity_mph'] = napa['dist_mi']/napa['time_diff_hour']

In [ ]:
napa['dist_cent'] = napa.apply(lambda row: vincenty((row['lat'], row['long']), \
                                                    (napa['lat'].mean(), napa['long'].mean())), axis=1)

In [ ]:
napa.to_csv('napa.csv')

In [ ]:
napa['date'] = napa['time'].dt.date
napa['date'] = pd.to_datetime(napa['date'])

In [ ]:
#napa['disaster_day'] = napa.where(napa['date'] == '2014-08-24')
napa['disaster_day'] = napa['date'].map(lambda x: 1 if x== '2014-08-24' else 0)

In [ ]:
napa['disaster_day'] = (napa['date'] == '2014-08-24')
#sol['Completed'] = (sol['Installed Status'] == 'Installed').astype(int)

In [ ]:
napa.head(300)

In [ ]:
napa.info()

In [ ]:
napa_group_user = napa.groupby(['user', 'date', 'disaster_day']).mean()
napa_group_user

In [ ]:

#pd.to_datetime(napa['time'],format = '%m/%d/%Y')

In [ ]:
napa_group = napa.groupby(by = 'date').mean().reset_index()
napa_group

In [ ]:
napa_group.info()

In [ ]:
napa_group3 = napa_group.reset_index()
napa_group3

In [ ]:
napa_group2 = napa.groupby(by = 'date').size()
napa_group2

In [ ]:
sns.scatterplot(x=napa_group2, y=napa_group['velocity_mph'])

In [ ]:
sns.scatterplot(x=napa_group3['lat'], y=napa_group3['long'], hue=napa_group3['date'])

In [ ]:
sns.scatterplot(x=napa_group3['lat'], y=napa_group3['long'])

In [ ]:
X = np.append(napa_group3['lat'],napa_group3['long']).transpose()

In [ ]:
X = napa_group3[['lat', 'long']]

In [ ]:
X = X.as_matrix()

In [ ]:
X.shape

In [ ]:
#helper function that allows us to display data in 2 dimensions an highlights the clusters
def display_cluster(X,km=[],num_clusters=0):
    color = 'brgcmyk'
    alpha = 0.5
    s = 20
    if num_clusters == 0:
        plt.scatter(X[:,0],X[:,1],c = color[0],alpha = alpha,s = s)
    else:
        for i in range(num_clusters):
            plt.scatter(X[km.labels_==i,0],X[km.labels_==i,1],c = color[i],alpha = alpha,s=s)
            plt.scatter(km.cluster_centers_[i][0],km.cluster_centers_[i][1],c = color[i], marker = 'x', s = 100)

In [ ]:
num_clusters = 2
km = KMeans(n_clusters=num_clusters,random_state=10,n_init=1) # n_init, number of times the K-mean algorithm will run
km.fit(X)
display_cluster(X,km,num_clusters)

In [ ]:
km.cluster_centers_

In [ ]:
km.inertia_

In [ ]:
plt.plot([KMeans(n_clusters=i).fit(X).inertia_ for i in range(1,10)])